xml-resources/web-service-references/ServicioSeguridad/wsdl/biometrico-pruebas.subsidio.gob.bo_6664/Services/ServicioSeguridad.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:import schemaLocation="http://biometrico-pruebas.subsidio.gob.bo:6664/Services/ServicioSeguridad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceCore.DataContracts"/><xs:element name="AutentificacionSucursales"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="ip_bdlocal" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="unique_pas" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="AutentificacionSucursalesResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="AutentificacionSucursalesResult" nillable="true" type="q1:ResponseEntityOfDTOUsuariosut8tV34" xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceCore.DataContracts"/></xs:sequence></xs:complexType></xs:element><xs:element name="AutentificacionRegistradores"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="AutentificacionRegistradoresResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="AutentificacionRegistradoresResult" nillable="true" type="q2:ResponseEntityOfDTOUsuariosut8tV34" xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceCore.DataContracts"/></xs:sequence></xs:complexType></xs:element></xs:schema>